package {beanPackageName};

import com.ywy.bootadmin.model.BaseEntity;
import lombok.Data;
{import}

/**
 * Entity
 * @author ywy
 * @date
 */
@Data
public class {beanName} extends BaseEntity {
{filelds}

//{getset}
}